/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.loader {
  display: none;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
}

.load-more {
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: background 0.3s;
}

.load-more:hover {
  background-color: #2980b9;
}

.load-more.active {
  display: block;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 1200px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  gap: 8px;
}

.info-item {
  margin: 0;
  text-align: center;
}

